<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>iris predictor</title>
    {% endif %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">
      <b><a href="/">Home</a></b> THIS IS THE HEADER
      <hr>
    </div>
    <div class="container">
      <!-- This is where the rest of the content will be loaded -->
      {% block content %}{% endblock %}
    </div>
    <div class="container">
      <hr>
      THIS IS THE FOOTER
    </div>
  </body>
</html>
