{% extends "base.html" %}

{% block content %}
<h1>Iris predictor</h1>
<div class="row">
  <div class="col-lg-6 col-md-12">
    <p>Input data is fed to a pre-trained sklearn random forest classifier
    based on the iris dataset.</p>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-md-12">
    <form id="input-form" class="" action="{{ url_for('predict') }}" method="post">

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Sepal length</span>
        </div>
        <input type="number" class="form-control" name="sepal-length" value="1" required min="0.1" step="0.1">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Sepal width</span>
        </div>
        <input type="number" class="form-control" name="sepal-width" value="1" required min="0.1" step="0.1">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Petal length</span>
        </div>
        <input type="number" class="form-control" name="petal-length" value="1" required min="0.1" step="0.1">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Petal width</span>
        </div>
        <input type="number" class="form-control" name="petal-width" value="1" required min="0.1" step="0.1">
      </div>

      <button type="submit" class="btn btn-primary" name="button">What's that flower?</button>
    </form>

  </div>
  </div>

  <div class="col-lg-6 col-md-12">
    <div id="response-container" class="mt-5 alert alert-secondary invisible"></div>
  </div>
</div>
<script type="text/javascript" src="static/main.js"></script>
{% endblock %}
